{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_oercollection/resources

    V2 - Refactored to use partials
    Teacher view for managing OER resources

    Example context (json):
    {
        "searchoer": "http://moodleinstance/mod/oercollection/searchoer.php",
        "studentpreviewlink": "http://moodleinstance/mod/oercollection/studentview.php",
        "oerexists": true,
        "oernumber": 10,
        "oernumberhidden": 2,
        "apiwarning": "Warning message",
        "resourcecount": 10,
        "oerresourcelist": [],
        "oerid": 123
    }
}}
<div class="row mt-1 mb-3">
    <div class="col-auto">
        {{#searchoer}}
            <a class="btn btn-primary me-2" href="{{searchoer}}">
                {{#str}} oersearchlink, mod_oercollection {{/str}}
            </a>
        {{/searchoer}}
        {{#studentpreviewlink}}
            <a class="btn btn-secondary d-none" href="{{studentpreviewlink}}">
                {{#str}} studentpreviewlink, mod_oercollection {{/str}}
            </a>
        {{/studentpreviewlink}}
    </div>
</div>

<div class="row py-3">
    <div class="col">
        <h3 class="h5 mb-0">
            {{#str}} resources, mod_oercollection {{/str}}
        </h3>
    </div>
</div>

<div class="row py-0">
    <div class="table-responsive">
        <table class="table table-borderless mb-0">
            <tbody>
            <tr>
                {{#oerexists}}
                    <td class="fw-bold ps-0 w-100" id="oer-resource-counts"
                        data-total="{{oernumber}}"
                        data-hidden="{{oernumberhidden}}"
                        data-string-key="availableresourcesnumberinfo">
                        {{#str}}
                            availableresourcesnumberinfo, mod_oercollection, { "total": {{oernumber}}, "hidden": {{oernumberhidden}} }
                        {{/str}}
                    </td>
                {{/oerexists}}
                {{^oerexists}}
                    <td class="fw-bold ps-0 w-100">
                        {{#str}} noresources, mod_oercollection {{/str}}
                    </td>
                {{/oerexists}}
            </tr>
            </tbody>
        </table>
    </div>
</div>

{{> mod_oercollection/api_warning }}

{{#resourcecount}}
    <div class="row py-1 align-items-center flex-wrap">
        <div class="col-auto ms-1">
            <a href="#" data-action="select-all" data-select="true">
                {{#str}} checkall, mod_oercollection {{/str}}
            </a>
            <span class="ms-1 me-1">/</span>
            <a href="#" data-action="select-all" data-select="false">
                {{#str}} checknone, mod_oercollection {{/str}}
            </a>
        </div>
        <div class="col-auto mb-1">
            <label class="bg ms-3 me-2" for="editoptionselect">
                {{#str}} selectdotdot, mod_oercollection {{/str}}
            </label>
            <select class="form-select d-inline-block w-auto" id="editoptionselect">
                <option value="1">{{#str}} openselected, mod_oercollection {{/str}}</option>
                <option value="2">{{#str}} showselected, mod_oercollection {{/str}}</option>
                <option value="3">{{#str}} hideselected, mod_oercollection {{/str}}</option>
                <option value="4">{{#str}} removeselected, mod_oercollection {{/str}}</option>
            </select>
        </div>
        <div class="col-auto mb-1">
            <a class="btn btn-primary oer-action" role="button" id="bulkbutton"
               data-action="bulk-action"
               data-oer-id="{{oerid}}">
                {{#str}} start, mod_oercollection {{/str}}
            </a>
        </div>
        <div class="col-auto mb-1">
            <div class="text-danger d-none" id="nothingselectedwarning"
                 style="padding-bottom: 6px; padding-top: 6px;">
                {{#str}} selectionwarning, mod_oercollection {{/str}}
            </div>
        </div>
    </div>
{{/resourcecount}}

{{#oerresourcelist}}
    <div class="card mb-3 resource-frame {{background}}" data-entry-id="{{oerentryid}}">
        <div class="card-body">
            <div class="row align-items-center flex-nowrap">
                <!-- Checkbox Column -->
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input mod-oercollection-checkbox" type="checkbox" name="selectbox" id="checkbox{{oerentryid}}" value="{{oerentryid}}">
                        <!-- Empty label with link target if needed -->
                        <label class="form-check-label" for="checkbox{{oerentryid}}">
                            <a id="resourcelink{{oerentryid}}" href="{{resourcelink}}" target="_blank"></a>
                        </label>
                    </div>
                </div>

                <!-- Main Content Column -->
                <div class="col">
                    {{> mod_oercollection/resource_card_content }}
                </div>

                <!-- 3-Dot Dropdown Column -->
                <div class="col-auto p-0 align-self-start">
                    <div class="action-menu moodle-actionmenu">
                        <div class="menubar d-flex">
                            <div class="action-menu-trigger">
                                <div class="dropdown">
                                    <a role="button" tabindex="0" class="btn btn-icon d-flex no-caret dropdown-toggle icon-no-margin" id="dropdownMenuButton{{oerentryid}}" aria-label="{{#str}} edit {{/str}}" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-{{oerentryid}}" title="{{#str}} edit {{/str}}">
                                        <i class="icon fa fa-ellipsis-vertical fa-fw " aria-hidden="true"></i><span class="visually-hidden">{{#str}} edit {{/str}}</span>
                                        <b class="caret"></b>
                                    </a>
                                    <div class="dropdown-menu menu dropdown-menu-end" id="dropdown-menu-{{oerentryid}}" data-rel="menu-content" aria-labelledby="dropdownMenuButton{{oerentryid}}" role="menu">
                                        <a class="dropdown-item" href="{{commentlink}}">
                                        {{#pix}} a/setting, core {{/pix}}
                                        {{#str}} editcomment, mod_oercollection {{/str}}
                                    </a>
                                    <a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#moveModal{{oerentryid}}">
                                        {{#pix}} i/dragdrop, core {{/pix}}
                                        {{#str}} move, mod_oercollection {{/str}}
                                    </a>
                                    <a class="dropdown-item oer-action" role="button"
                                        data-action="toggle-visibility"
                                        data-oer-id="{{oerid}}"
                                        data-entry-id="{{oerentryid}}"
                                        data-show="1"
                                        {{^oerhidden}}style="display: none;"{{/oerhidden}}>
                                        {{#pix}} i/hide, core {{/pix}}
                                        {{#str}} showoer, mod_oercollection {{/str}}
                                    </a>
                                    <a class="dropdown-item oer-action" role="button"
                                        data-action="toggle-visibility"
                                        data-oer-id="{{oerid}}"
                                        data-entry-id="{{oerentryid}}"
                                        data-show="0"
                                        {{#oerhidden}}style="display: none;"{{/oerhidden}}>
                                        {{#pix}} i/show, core {{/pix}}
                                        {{#str}} hideoer, mod_oercollection {{/str}}
                                    </a>
                                    <a class="dropdown-item oer-action" role="button"
                                        data-action="delete-resource"
                                        data-oer-id="{{oerid}}"
                                        data-entry-id="{{oerentryid}}"
                                        data-resource-name="{{resourcename}}">
                                        {{#pix}} i/trash, core {{/pix}}
                                        {{#str}} removeoer, mod_oercollection {{/str}}
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Moving Resource -->
    <div class="modal fade" id="moveModal{{oerentryid}}" tabindex="-1" role="dialog" aria-labelledby="moveModalLabel{{oerentryid}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header justify-content-between">

                      <h5 class="modal-title" id="moveModalLabel{{oerentryid}}">
                          {{#str}} moveresource, mod_oercollection {{/str}}
                      </h5>


                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{#str}} closebuttontitle, core {{/str}}"></button>

                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="mb-3">
                        <span>{{#str}} insertafter, mod_oercollection {{/str}}</span>
                    </div>
                    <div class="list-group">
                        {{#page}}
                            <div class="mb-2">
                                <h6>
                                    <a class="d-flex justify-content-between align-items-center text-decoration-none" data-bs-toggle="collapse" href="#collapseOptions{{pnr}}" aria-expanded="false" aria-controls="collapseOptions{{pnr}}">
                                        {{title}}
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </h6>
                                <div class="collapse" id="collapseOptions{{pnr}}">
                                    <ul class="list-group list-group-flush">
                                        {{#lines}}
                                            {{#.}}
                                                <li class="list-group-item p-1">
                                                    <a role="button" class="oer-action{{#hidden}} text-muted{{/hidden}}"
                                                       data-action="move-resource"
                                                       data-oer-id="{{oerid}}"
                                                       data-entry-id="{{oerentryid}}"
                                                       data-move-after="{{id}}"
                                                       data-bs-dismiss="modal">
                                                        {{name}}
                                                    </a>
                                                </li>
                                            {{/.}}
                                        {{/lines}}
                                    </ul>
                                </div>
                            </div>
                        {{/page}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/oerresourcelist}}
{{#resourcecount}}
    <div class="row py-1 align-items-center flex-wrap">
        <div class="col-auto mb-1">
            <label class="bg ms-3 me-2" for="editoptionselect_mirror">
                {{#str}} selectdotdot, mod_oercollection {{/str}}
            </label>
            <select class="form-select d-inline-block w-auto" id="editoptionselect_mirror">
                <option value="1">{{#str}} openselected, mod_oercollection {{/str}}</option>
                <option value="2">{{#str}} showselected, mod_oercollection {{/str}}</option>
                <option value="3">{{#str}} hideselected, mod_oercollection {{/str}}</option>
                <option value="4">{{#str}} removeselected, mod_oercollection {{/str}}</option>
            </select>
        </div>
        <div class="col-auto mb-1">
            <a class="btn btn-primary oer-action" role="button" id="bulkbutton_mirror"
               data-action="bulk-action"
               data-oer-id="{{oerid}}">
                {{#str}} start, mod_oercollection {{/str}}
            </a>
        </div>
        <div class="col-auto mb-1">
            <div class="text-danger d-none" id="nothingselectedwarning_mirror"
                 style="padding-bottom: 6px; padding-top: 6px;">
                {{#str}} selectionwarning, mod_oercollection {{/str}}
            </div>
        </div>
    </div>
{{/resourcecount}}